.background {
  background-color: #1f2535;
  color: white; 
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.info h1 {
  font-size: 6rem;
}

.info p {
  font-size: 1.5rem;
  width: 50%;
}

.awesome {
  background: white;
  color: #1f2535;
  width: 25%;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: transparent;
  border-radius: 10px;
}

h3 {
  color: #1f2535;
}
