.background {
  background-color: #1f2535;
  color: white; 
}

.info {
  padding-left: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 50rem;
}

.info h1 {
  font-size: 6rem;
}

.info p {
  font-size: 1.5rem;
}
